section.contact-us {
    padding: 48px 0;
}
h2.contact-us__heading {
    margin-bottom: 0;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
}
p.contact-us__promise {
    margin-bottom: 24px;
    color: #979797;
    font-size: 1rem;
}
form.contact-us__form .form-group label {
    margin-bottom: 4px;
    font-size: 1rem;
    font-weight: bold;
}
form.contact-us__form .form-group textarea {
    height: 140px;
}
button.submit-btn {
    padding: 8px 32px;
    border: none;
    color: #ffffff;
    background-color: #00adef;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
}

/* Media queries */
@media only screen and (min-width: 576px) {
    h2.contact-us__heading {
        font-size: 2.2rem;
    }
    p.contact-us__promise,
    form.contact-us__form .form-group label {
        font-size: 1.1rem;
    }
    .office__container {
        padding: 0;
    }
}
@media only screen and (min-width: 768px) {
    h2.contact-us__heading {
        font-size: 2.4rem;
    }
    p.contact-us__promise,
    form.contact-us__form .form-group label {
        font-size: 1.2rem;
    }
    form.contact-us__form .form-group input {
        height: 42px;
    }
    form.contact-us__form .form-group textarea {
        height: 200px;
    }
    button.submit-btn {
        padding: 8px 40px;
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 992px) {
    h2.contact-us__heading {
        font-size: 2.6rem;
    }
    p.contact-us__promise,
    form.contact-us__form .form-group label {
        font-size: 1.3;
    }
    form.contact-us__form .form-group input {
        height: 46px;
    }
    form.contact-us__form .form-group textarea {
        height: 260px;
    }
    button.submit-btn {
        padding: 8px 48px;
        font-size: 1.6rem;
    }
}
@media only screen and (min-width: 1200px) {
    h2.contact-us__heading {
        font-size: 2.8rem;
    }
    p.contact-us__promise,
    form.contact-us__form .form-group label {
        font-size: 1.4;
    }
    form.contact-us__form .form-group input {
        height: 50px;
    }
    form.contact-us__form .form-group textarea {
        height: 320px;
    }
    button.submit-btn {
        padding: 8px 56px;
        font-size: 1.7rem;
    }
}