.services__container > p {
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

section.service-info {
    padding: 72px 0;
}
section.service-strategy {
    background-color: #05cc9b;
}
section.service-design {
    background-color: #00adef;
}
section.service-tech {
    background-color: #9a7ebd;
}
section.service-marketing {
    background-color: #f6c755;
}

ul.service-info__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
ul.service-info__nav > li {
    margin-right: 8px;
}
ul.service-info__nav > li:last-child {
    margin-right: 0;
}
ul.service-info__nav > li > a {
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
}
ul.service-info__nav > li > a.hightlighted {
    color: #000000;
    background-color: #fff;
}

.service-info__col {
    margin-bottom: 40px;
    padding: 0 16px;
}
.service-info__col h3 {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}
.service-info__col p,
.service-info__col:last-child {
    margin-bottom: 0;
}

/* Media queries */
@media only screen and (min-width: 576px) {
    .services__container > p {
        font-size: 1.6rem;
    }
    ul.service-info__nav > li {
        margin-right: 16px;
    }
    ul.service-info__nav > li > a {
        font-size: 0.8rem;
    }
    .service-info__col {
        margin-bottom: 48px;
    }
    div.service-info__col--no-margin {
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 768px) {
    .services__container > p {
        font-size: 1.8rem;
    }
    ul.service-info__nav > li > a {
        font-size: 1rem;
    }
    .service-info__col {
        margin-bottom: 56px;
    }
    .service-info__col p {
        font-size: 1.1rem;
    }
}
@media only screen and (min-width: 992px) {
    .services__container > p {
        font-size: 2rem;
    }
    ul.service-info__nav > li {
        margin-right: 24px;
    }
    .service-info__col {
        margin-bottom: 64px;
    }
}
@media only screen and (min-width: 1200px) {
    .services__container > p {
        font-size: 2.2rem;
    }
    .service-info__col {
        margin-bottom: 72px;
    }
    .service-info__col p {
        font-size: 1.2rem;
    }
}