body {
    background-color: #00adef;
    color: #ffffff;
}
ul {
    margin-top: 24px;
    margin-bottom: 0;
    padding-left: 24px;
}
ul li {
    list-style-type: circle;
}
section.career-details {
    position: relative;
    padding: 32px 0;
    border-bottom: 0.75px solid #949494;
}
.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 1.8rem;
    transition: .2s linear;
}
.close-icon:hover {
    color: #ffc62a;
}
.career-details__container h4 {
    margin-top: 24px;
    margin-bottom: 32px;
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}
.career-details__left-col h5  {
    color: #fff;
}

.apply__content p {
    margin-bottom: 24px;
    color: #333333;
    line-height: 1.15;
}
.apply__content > a {
    padding: 10px 16px;
    border-radius: 5px;
    background-color: #fff;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
}

/* Media queries */
@media only screen and (min-width: 576px) {
    .close-icon {
        font-size: 2.2rem;
    }
    .career-details__container h4 {
        font-size: 2.4rem;
    }
}
@media only screen and (min-width: 768px) {
    .close-icon {
        top: 30px;
        right: 30px;
        font-size: 2.6rem;
    }
    .career-details__container h4 {
        font-size: 2.8rem;
    }
}
@media only screen and (min-width: 992px) {
    .close-icon {
        top: 40px;
        right: 40px;
        font-size: 3rem;
    }
    .career-details__container h4 {
        font-size: 3.2rem;
    }
    .apply-container {
        display: flex;
        justify-content: flex-end;
    }
    .apply__content {
        display: flex;
        align-items: center;
    }
    .apply__content p {
        margin-bottom: 0;
        margin-right: 16px;
    }
}
@media only screen and (min-width: 1200px) {
    .close-icon {
        top: 50px;
        right: 50px;
    }
}